.App {
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;
  height: 100vh;
}

.App div {
  padding: 2em;
  display: grid;
  align-items: center;
}

h1 {
  font-size: 6em;
  font-weight: lighter;
}

body {
  color: white;
  font-family: "Lato", sans-serif;
  background-color: #282c34;
}
